.heading-wrapper{
    /* border:1px solid red; */
    height:70px;
    display:flex;
    align-items:center;
    margin-bottom:50px;
    margin-left:124px;
    margin-right:124px;
}
.heading{
    /* border:1px solid red; */
    font-family:Roboto;
    font-size:34px;
    letter-spacing: 0.25%;
    width:222px;
    height:40px;
}