.description-container{
  display: flex;
  flex-direction: column;
  background-color: #314357;
  color: white;
  align-items: center;
  /* height: 70vh; */
  font-size: 20px;
  padding:50px 30px;
  gap: 10px;
  text-align: center;
}

.description-logo-container{
  color:white;
}

.description{
  padding: 1rem;
  width: 60%;
  line-height: 1.6;
}

.made-by-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #C98C70;
  color: white;
  font-size: 17px;
  /* height: 20vh; */
}

.names-list{
  list-style-type: none;
  display: flex;
  margin-left: 2rem;

}

li{
  padding: 40px;
}

a{
  text-decoration: none;
  color: white;
}

/* a:hover,a:focus,a:active {
  color: #314357;
} */
